.profile {
	display: flex;
	flex-direction: column;

	&_button {
		font-size: 16px;
		margin-left: 10px;
	}

	&_news {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&_row {
		display: flex;
		justify-content: space-between;
	}

	&_info {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-left: 24px;

		img {
			width: 64px;
			height: 64px;
			border-radius: 100px;
			margin-right: 16px;
		}

		&_text {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&_text2 {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			padding-bottom: 4px;
		}

		h3 {
			margin: 0;
		}

		h4 {
			margin: 0;
			margin-left: 16px;
			font-size: 16px;
			opacity: 0.5;
			text-transform: uppercase;
		}

		p {
			margin: 0;
		}
	}

	&_followedAuthors {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	&_pages {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 50% 50%;
		align-items: center;

		&_title {
			font-size: 20px;
			margin: 0;
		}

		&_button {
			border: none;
			border-radius: 0;
			border-bottom: 1px solid var(--text-color);
			color: var(--text-color);

			transition: border 0;

			&:hover {
				color: var(--button-color);
				margin: 0;
				border-bottom: 3px solid var(--button-color);
			}

			&_active {
				color: var(--button-color);
				border-bottom: 3px solid var(--button-color);
			}
		}
	}
}

.info {
	display: grid;
	grid-template-columns: 33% 33% 33%;

	&_box {
		display: flex;
		flex-direction: column;
		align-items: center;

		&_title {
			font-size: 20px;
			font-weight: 700;
		}

		&_data {
			font-size: 20px;
		}
	}
}
