.authornewscard {
	&_title {
		font-size: 1em;
		font-weight: 700;
		color: var(--bold-color);
		padding: 12px 16px;
	}

	&_container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-decoration: none;
		color: var(--text-color);
		padding: 8px 16px;
		border-top: 1px solid var(--border-color);
		font-size: 1em;

		&_score {
			margin-left: 4px;
		}

		&:nth-child(3) {
			border-bottom: 1px solid var(--border-color);
		}
	}
}
