.comment-editor {
	padding: 10px;
	min-height: 180px;

	&_container {
		background-color: var(--compBg-color);
		border: 1px solid var(--border-color);
		border-radius: 5px;
		margin-left: 8px;
		width: calc(100% - 8px - 2px);
	}

	&_edit-container {
		margin-left: 0;
		margin-bottom: 8px;
	}

	&_toolbar {
		color: #161616;
		background-color: var(--compBgLight-color) !important;
		border: none !important;
		border-radius: 0 0 5px 5px !important;
		border-top: 1px solid var(--border-color) !important;
		margin: 0 !important;
	}

	&_wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	&_buttons {
		margin-left: auto;
		display: flex;
	}

	&_button {
		height: 32px;
		width: fit-content;

		margin-left: 8px;
		margin-bottom: 6px;
	}
}

.rdw {
	&-option-wrapper {
		border-radius: 5px !important;
		border: 1px solid var(--border-color) !important;
		background-color: white !important;

		&:hover {
			box-shadow: none !important;
		}
	}

	&-dropdown-wrapper {
		border-radius: 5px !important;
		border: 1px solid var(--border-color) !important;
		background-color: white !important;

		&:hover {
			box-shadow: none !important;
		}
	}

	&-option-active {
		box-shadow: none !important;
		border: 1px solid var(--primary-color) !important;
		background-color: var(--primary-color) !important;
	}

	&-link-decorator-wrapper {
		a {
			text-decoration: none;
			color: var(--link-color);

			&:hover {
				color: var(--linkHover-color);
			}
		}
	}
}
