.editor {
	padding: 10px;

	&_toolbar {
		color: #161616;
		background-color: var(--background-color) !important;
	}
}

.thumbnail {
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-top: 56.25%;

	&_wrapper {
		width: 400px;
		align-self: center;
	}
}

.tooltip {
	display: flex;
	align-items: center;
	margin: 10px 0;
	user-select: none;
	color: var(--secondText-color);

	&_icon {
		margin-right: 10px;
	}
}

.rdw {
	&-option-wrapper {
		border-radius: 5px;
		background-color: var(--text-color) !important;

		&:hover {
			box-shadow: none !important;
		}
	}

	&-option-active {
		box-shadow: none !important;
		border: 1px solid var(--button-color) !important;
		background-color: var(--button-color) !important;
	}

	&-link-decorator-wrapper {
		a {
			text-decoration: none;
			color: #44b6eb;

			&:hover {
				color: #75c9f0;
			}
		}
	}
}

.rdw-link-decorator-wrapper {
	text-decoration: none;
	color: #44b6eb;

	&:hover {
		color: #75c9f0;
	}
}
