.createnews {
	background-color: var(--compBg-color);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	padding: 10px;
}

.editor {
	padding: 10px;

	&_container {
		background-color: var(--compBg-color);
		border: 1px solid var(--border-color);
		border-radius: 5px;
		min-height: 400px;
		margin-bottom: 24px;
	}

	&_toolbar {
		color: #161616;
		background-color: var(--compBgLight-color) !important;
		border: none !important;
		border-radius: 5px 5px 0 0 !important;
		border-bottom: 1px solid var(--border-color) !important;
	}
}

.thumbnail {
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-top: 56.25%;

	&_wrapper {
		width: 400px;
		align-self: center;
	}
}

.tooltip {
	display: grid;
	grid-template-columns: 20px calc(100% - 20px);
	align-items: center;
	margin: 10px 0;
	user-select: none;
	color: var(--disabled-color);
	font-size: 1rem;

	&_icon {
		margin-right: 10px;
		font-size: 0.8rem;
	}

	&_text {
		margin: 0;
	}
}

.rdw {
	&-option-wrapper {
		border-radius: 5px !important;
		border: 1px solid var(--border-color) !important;
		background-color: white !important;

		&:hover {
			box-shadow: none !important;
		}
	}

	&-dropdown-wrapper {
		border-radius: 5px !important;
		border: 1px solid var(--border-color) !important;
		background-color: white !important;

		&:hover {
			box-shadow: none !important;
		}
	}

	&-option-active {
		box-shadow: none !important;
		border: 1px solid var(--primary-color) !important;
		background-color: var(--primary-color) !important;
	}

	&-link-decorator-wrapper {
		a {
			text-decoration: none;
			color: var(--link-color);

			&:hover {
				color: var(--linkHover-color);
			}
		}
	}
}

@media (max-width: 768px) {
	.thumbnail_wrapper {
		width: 100%;
	}
}
