.news {
	&_list {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: 30% 50% 70%;
	}

	&_listReddit {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
