.news {
	&_body {
		word-wrap: break-word;

		a {
			text-decoration: none;
			color: #44b6eb;

			&:hover {
				color: #75c9f0;
			}
		}
	}

	&_thumbnail {
		width: 100%;
	}

	&_info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&_buttons {
		display: flex;
		justify-content: flex-end;

		button {
			font-size: 20px;
			padding: 10px;
			margin: 4px 0 4px 16px;
		}

		&_edit {
			color: var(--button-color);
			border-color: var(--button-color);
		}

		&_delete {
			color: red;
			border-color: red;

			&:hover {
				color: #eee;
				background-color: red;
			}
		}
	}
}
