.accordion {
	&_title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		margin: 5px 0;
		cursor: pointer;

		&_icon {
			transform: rotate(-90deg);

			transition: transform 0.3s ease;
		}
	}

	&_menu {
		display: flex;
		flex-direction: column;

		&_item {
			text-decoration: none;
			color: var(--text-color);
			display: flex;
			align-items: center;
			margin: 5px 0 5px 8px;

			&_icon {
				margin-right: 8px;
				font-size: 20px;
			}
		}
	}
}
