.author {
	text-decoration: none;
	color: var(--text-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;

	&_avatar {
		width: 40px;
		height: 40px;
		border-radius: 50px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0 10px 0 10px;
	}

	&_info {
		display: flex;
		flex-direction: column;

		&_origin {
			display: flex;
			margin-top: 2px;
		}

		&_newscount {
			color: var(--secondText-color);
		}

		&_from em {
			font-family: "Chomsky";
			color: var(--text-color);
		}
	}
}
