.btn {
	cursor: pointer;
	text-decoration: none;
	border: none;
	background-color: transparent;

	display: flex;
	align-items: center;

	color: var(--disabled-color);
	font-size: 0.8rem;
	margin: auto 0;
	padding: 4px 8px;

	&_icon {
		font-size: 1.5em;
	}

	&_text {
		margin-left: 4px;
	}

	&:hover {
		background-color: var(--border-color);
		border-radius: 5px;
	}
}

@media (max-width: 768px) {
	.btn {
		font-size: 0.7rem;
		padding: 4px;
	}
}
