.votes {
	align-items: center;
	font-size: 0.8rem;
	color: var(--secondText-color);

	&_button {
		padding: 0;
		cursor: pointer;
		text-decoration: none;
		display: flex;
		align-items: center;

		color: (--secondText-color);
		background-color: transparent;

		border: none;
		font-size: 1em;

		transition: all 0.2s ease;
	}

	&_icon {
		font-size: 1.5em;
		color: var(--secondText-color);
	}

	&_like {
		color: var(--primary-color);
	}

	&_dislike {
		color: var(--error-color);
	}
}

.comment-votes {
	display: inline-flex;
	margin-right: 8px;

	&_score {
		padding: 0 8px;
	}
}

.news-votes {
	display: flex;
	flex-direction: column;
	width: calc(48px - 4px);
	padding: 8px 2px;
	background-color: var(--compBgDark-color);

	&_score {
		margin: 4px 0;
	}
}

.news2-votes {
	display: none;
}

@media (max-width: 768px) {
	.votes {
		font-size: 0.6rem;
	}

	.comment-votes {
		margin-right: 4px;
	}

	.news-votes {
		display: none;
	}

	.news2-votes {
		display: inline-flex;
		margin-right: 4px;

		&_score {
			padding: 0 4px;
		}
	}
}
