.comment-editor {
	padding: 10px;
	min-height: 180px;

	&_container {
		background-color: var(--compBg-color);
		border: 1px solid var(--border-color);
		border-radius: 5px;
	}

	&_toolbar {
		color: #161616;
		background-color: var(--compBgLight-color) !important;
		border: none !important;
		border-radius: 0 0 5px 5px !important;
		border-top: 1px solid var(--border-color) !important;
		margin: 0;
	}

	&_wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	&_postbtn {
		height: 32px !important;
		font-size: 15px !important;
		margin-bottom: 6px !important;
		margin-left: auto !important;
	}
}

.rdw {
	&-option-wrapper {
		border-radius: 5px !important;
		background-color: var(--text-color) !important;

		&:hover {
			box-shadow: none !important;
		}
	}

	&-dropdown-wrapper {
		border-radius: 5px !important;
		background-color: var(--text-color) !important;

		&:hover {
			box-shadow: none !important;
		}
	}

	&-option-active {
		box-shadow: none !important;
		border: 1px solid var(--primary-color) !important;
		background-color: var(--primary-color) !important;
	}

	&-link-decorator-wrapper {
		a {
			text-decoration: none;
			color: var(--link-color);

			&:hover {
				color: var(--linkHover-color);
			}
		}
	}
}
