.footer {
	width: 100%;
	height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--border-color);
	background-color: var(--compBg-color);
	font-size: 0.8rem;

	&_text {
		color: var(--text-color);
	}
}
