.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: calc(56px - 1px - 10px);
	width: calc(100% - 20px);
	padding: 5px 10px;
	border-bottom: 1px solid var(--border-color);
	background-color: var(--compBg-color);
	display: grid;
	grid-template-columns: [col1] 20% [col2] 60% [col3] 20% [col4];
	align-items: center;

	&_branding {
		font-family: "Chomsky";
		text-decoration: none;
		font-size: 32px;
		position: relative;
		color: var(--text-color);
		user-select: none;
	}

	&_menuBtn {
		background: none;
		border: none;
		cursor: pointer;
		font-size: 20px;
		color: var(--text-color);
	}

	&_section1 {
		justify-self: flex-start;
		align-items: center;

		grid-column-start: col1;
		grid-column-end: col2;
	}

	&_section2 {
		justify-self: center;

		display: flex;
		align-items: center;

		grid-column-start: col2;
		grid-column-end: col3;
	}

	&_section3 {
		justify-self: flex-end;
		align-items: center;

		grid-column-start: col3;
		grid-column-end: col4;
	}
}

@media (max-width: 768px) {
	.header {
		&_section2 {
			display: none;
		}
		// grid-template-columns: [col1] 50% [col2] 0% [col3] 50%;
	}
}
