.homesort {
	background-color: var(--compBg-color);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	padding: 8px 16px;
	margin: 4px 0;
	display: flex;
	width: calc(100% - 32px);

	&_item {
		display: flex;
		align-items: center;
		border: none;
		background-color: transparent;
		color: var(--text-color);
		font-size: inherit;
		cursor: pointer;
		text-decoration: none;

		margin-right: 4px;
		padding: 8px 16px;

		&_icon {
			color: var(--text-color);
			font-size: 20px;
			margin-right: 4px;
		}

		&_active {
			background-color: var(--compBgLight-color) !important;
			border-radius: 100px;
		}

		&:hover {
			background-color: var(--compBgDark-color);
			border-radius: 100px;
		}
	}
}

@media (max-width: 375px) {
	.homesort_item {
		&:last-child {
			display: none;
		}
	}
}

@media (max-width: 235px) {
	.homesort_item {
		&:nth-last-child(2) {
			display: none;
		}
	}
}
