.modal {
	position: relative;
	background-color: var(--compBg-color);
	border: 1px var(--text-color) solid;
	border-radius: 5px;
	padding: 20px 20px;
	font-size: 20px;
	min-width: 200px;
	transition: all 0.5s ease;
	margin: 0 32px;
	animation-name: modal;
	animation-duration: 0.5s;

	&_overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1005;
		width: 100vw;
		height: 100vh;
		background-color: black;
		opacity: 0.3;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&_background {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1006;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	button {
		font-size: 16px;
		margin-left: 10px;
	}

	&_decline {
		background-color: var(--secondText-color);
	}

	&_submit {
		background-color: var(--button-color);
	}

	&_buttons {
		display: flex;
		justify-content: flex-end;
	}
}

@keyframes modal {
	from {
		top: -100px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}
