.newscard {
	position: relative;
	overflow: hidden;

	display: flex;
	width: 100%;
	max-width: 720px;
	margin: 20px 0;
	padding: 10px 0;
	border-radius: 5px;
	border: 1px solid var(--secondText-color);

	text-decoration: none;
	color: var(--text-color);
	user-select: none;

	&_matches {
		position: absolute;
		top: 16px;
		right: 16px;

		font-family: monospace;
		font-size: 12px;

		padding: 8px 10px;
		border-radius: 5px;
	}

	&_likes {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 64px;
		padding: 10px 4px;
		font-size: 16px;

		button {
			cursor: pointer;
			text-decoration: none;
			display: table;

			color: var(--text-color);
			background-color: transparent;

			border: none;
			font-size: 24px;

			transition: all 0.2s ease;
		}

		span {
			padding: 6px 0;
		}
	}

	&_container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&_posted {
		font-size: 12px;
		margin: 5px 0;
		color: var(--secondText-color);
	}

	&_authorlink {
		color: var(--secondText-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&_link {
		display: flex;
		flex-direction: column;

		text-decoration: none;
		color: var(--text-color);
	}

	&_title {
		font-size: 20px;
		margin: 5px 0;
	}

	&_thumbnail {
		position: relative;
		background-size: cover;
		background-position: center;
		width: 100%;
		padding-top: 56.25%;
	}

	&_tags {
		display: flex;
		flex-wrap: wrap;
	}

	&:hover {
		border: 1px solid var(--text-color);
	}
}
