.comments {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 4px 0;
	border-radius: 5px;
	border: 1px solid var(--border-color);
	background-color: var(--compBg-color);

	user-select: none;
	text-decoration: none;
	color: var(--text-color);

	&_input {
		display: flex;
		flex-direction: column;
		margin: 44px;

		&_title {
			font-size: 12px;
			margin-bottom: 8px;
		}
	}

	&_list {
		margin-right: 44px;
	}

	&_more {
		background-color: transparent;
		color: var(--link-color);
		border: none;
		font-size: 12px;
		cursor: pointer;
		padding: 0 0 8px 16px;

		&:hover {
			color: var(--linkHover-color);
		}
	}
}
