.comments {
	display: flex;
	flex-direction: column;
	width: calc(100% - 44px);
	margin: 4px 0;
	border-radius: 5px;
	border: 1px solid var(--border-color);
	background-color: var(--compBg-color);
	padding-right: 44px;
	padding-bottom: 8px;

	user-select: none;
	text-decoration: none;
	color: var(--text-color);

	&_input {
		display: flex;
		flex-direction: column;
		margin: 44px 0 20px 44px;

		&_title {
			font-size: 12px;
			margin-bottom: 8px;
		}
	}

	&_more {
		background-color: transparent;
		color: var(--link-color);
		border: none;
		font-size: 12px;
		cursor: pointer;
		padding: 8px 0 8px 21px;

		&_replies {
			padding: 8px 0 8px 0;
		}

		&:hover {
			color: var(--linkHover-color);
		}
	}
}
