.newscard {
	position: relative;
	overflow: hidden;

	display: flex;
	width: 100%;
	margin: 4px 0;
	border-radius: 5px;
	border: 1px solid var(--border-color);
	background-color: var(--compBg-color);

	user-select: none;
	text-decoration: none;
	color: var(--text-color);

	&_matches {
		position: absolute;
		top: 16px;
		right: 16px;

		font-family: monospace;
		font-size: 12px;

		padding: 8px 10px;
		border-radius: 5px;
	}

	&_container {
		width: calc(100% - 44px);
		padding: 10px 0;
		display: flex;
		flex-direction: column;
	}

	&_posted {
		padding-left: 8px;
		font-size: 12px;
		margin: 5px 0;
		color: var(--secondText-color);
	}

	&_authorlink {
		color: var(--secondText-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&_link {
		display: flex;
		flex-direction: column;
		width: 100%;

		text-decoration: none;
		color: var(--text-color);
	}

	&_title {
		padding-left: 8px;
		font-size: 20px;
		margin: 8px 0;
	}

	&_thumbnail {
		position: relative;
		background-size: cover;
		background-position: center;
		width: 100%;
		padding-top: 56.25%;
	}

	&_body {
		padding: 0 8px;
		width: calc(100% - 16px);

		word-wrap: break-word;
		font-size: 16px;
		color: var(--secondText-color);
	}

	&_tags {
		padding-left: 8px;
		display: flex;
		flex-wrap: wrap;
	}

	&_options {
		margin-top: 10px;
		padding-left: 8px;
		display: flex;

		&_item {
			text-decoration: none;
			display: flex;
			align-items: center;
			border: none;
			background-color: transparent;
			color: var(--secondText-color);
			font-size: 12px;
			cursor: pointer;

			padding: 4px 8px;

			&_icon {
				font-size: 20px;
				margin-right: 4px;
			}

			&:hover {
				background-color: var(--border-color);
				border-radius: 5px;
			}
		}
	}

	&:hover {
		border: 1px solid var(--secondText-color);
	}
}
