.newscard {
	position: relative;
	overflow: hidden;

	display: flex;
	width: calc(100% - 2px);
	margin: 4px 0;
	border-radius: 5px;
	border: 1px solid var(--border-color);
	background-color: var(--compBg-color);

	user-select: none;
	text-decoration: none;
	color: var(--text-color);
	font-size: 1rem;

	&_matches {
		position: absolute;
		top: 16px;
		right: 16px;

		font-family: monospace;
		font-size: 0.8em;

		padding: 8px 10px;
		border-radius: 5px;
	}

	&_container {
		width: calc(100% - 44px);
		padding: 10px 0;
		display: flex;
		flex-direction: column;
	}

	&_posted {
		padding: 0 8px;
		font-size: 0.8em;
		margin: 5px 0;
		color: var(--secondText-color);
	}

	&_authorlink {
		color: var(--secondText-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&_link {
		display: flex;
		flex-direction: column;
		width: 100%;

		text-decoration: none;
		color: var(--text-color);
	}

	&_title {
		padding: 0 8px;
		font-size: 1.2em;
		margin: 8px 0;
	}

	&_thumbnail {
		position: relative;
		background-size: cover;
		background-position: center;
		width: 100%;
		padding-top: 56.25%;
	}

	&_body {
		padding: 0 8px;
		width: calc(100% - 16px);

		word-wrap: break-word;
		font-size: 1em;
		color: var(--secondText-color);
	}

	&_tags {
		margin: 0;
		padding: 0 8px;
	}

	&_options {
		display: flex;
		margin-top: 10px;
		padding: 0 8px;
		font-size: 0.8em;
	}

	&:hover {
		border: 1px solid var(--secondText-color);
	}
}

@media (max-width: 768px) {
	.newscard {
		font-size: 0.8rem;
		border-radius: 0;
		overflow: visible;

		&_container {
			width: 100%;
			padding: 10px 8px;
		}
	}
}
