.pagewc {
	max-width: calc(960px - 20px);
	margin: calc(8px + 56px) auto 8px auto;
	padding: 0 10px;
	min-height: calc(100vh - 64px - 8px - 59px);
	background-color: var(--pageBg-color);

	display: grid;
	grid-template-columns: 65% 35%;

	&_margin-top {
		margin: calc(8px + 56px + 40px) auto 8px auto;
		min-height: calc(100vh - 16px - 56px - 40px - 59px);
	}

	&_col1 {
		display: flex;
		flex-direction: column;
		margin-right: 8px;
	}

	&_col2 {
		display: flex;
		flex-direction: column;
		margin-left: 8px;
	}
}

@media (max-width: 768px) {
	.pagewc {
		grid-template-columns: 100%;
		padding: 0;

		&_col1 {
			margin: 0;
		}

		&_col2 {
			display: none;
		}
	}
}
