.page {
	max-width: 960px;
	margin: 80px auto 0 auto;
	padding: 0 10px 0 10px;
	min-height: calc(100vh - 80px - 59px);
	background-color: var(--pageBackground-color);

	display: flex;
	flex-direction: column;
}
