.switch {
	cursor: pointer;
	width: 36px;
	background-color: var(--text-color);
	margin: 5px 0;
	padding: 5px;
	border-radius: 100px;

	&_circle {
		width: 16px;
		height: 16px;
		border-radius: 100px;
		background-color: var(--background-color);
		position: relative;
		transition: left 0.2s ease-in-out;
	}
}
