.switch {
	display: inline-flex;
	align-items: center;
	margin: 5px 0;

	&_container {
		cursor: pointer;
		width: 28px;
		background-color: var(--text-color);
		padding: 5px;
		margin-left: 5px;
		border-radius: 100px;
		height: calc(20px - 10px);
	}

	&_circle {
		top: -2px;
		width: 14px;
		height: 14px;
		border-radius: 100px;
		background-color: var(--compBg-color);
		position: relative;
		transition: left 0.2s ease-in-out;
	}
}
