body {
	margin: 0;
	font-size: 1rem;
	color: var(--text-color);
	background-color: var(--pageBg-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	transition: color 0.5s ease;
	// transition: background-color 0.5s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	color: var(--text-color);
	box-shadow: 0 0 0px 1000px var(--compBg-color) inset;
	transition: background-color 5000s ease-in-out 0s;
}

.link {
	text-decoration: none;
	color: var(--link-color);
	width: fit-content;

	&:hover {
		color: var(--linkHover-color);
	}
}

.sources {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;

	h4 {
		margin: 0;
	}

	&_item {
		cursor: pointer;
		user-select: none;
		margin-left: 10px;
		text-decoration: none;
		color: var(--link-color);
		word-break: break-word;

		margin-top: 12px;
		border-radius: 5px;
		align-self: flex-start;

		transition: all 0.3s ease;

		&:hover {
			color: var(--linkHover-color);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;

	h4 {
		margin: 14px 10px 0 0;
	}

	&_item {
		cursor: pointer;
		user-select: none;
		margin-top: 10px;
		margin-right: 10px;
		text-decoration: none;
		color: var(--link-color);
		background-color: var(--linkBg-color);
		word-break: break-word;

		padding: 5px;
		border-radius: 5px;
		align-self: flex-start;

		transition: all 0.3s ease;

		&:hover {
			color: var(--linkHover-color);
			background-color: var(--linkHoverBg-color);
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	width: 100%;

	border-radius: 100px;
	margin: auto 0;
	padding: 4px 16px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;

	transition: all 0.2s ease;

	&_link {
		display: flex;
		justify-content: center;
		font-size: 14px;
		font-weight: 700;
		width: calc(100% - 32px - 2px);
	}

	&_primary {
		border: 1px solid var(--buttonP-color);
		background-color: var(--buttonP-color);
		color: var(--buttonTextP-color);

		&:hover {
			border: 1px solid var(--buttonHoverP-color);
			background-color: var(--buttonHoverP-color);
		}
	}

	&_secondary {
		border: 1px solid var(--buttonTextS-color);
		background-color: var(--buttonS-color);
		color: var(--buttonTextS-color);

		&:hover {
			background-color: var(--buttonHoverS-color);
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;

	&_row {
		display: grid;
		justify-content: space-between;
		grid-template-columns: calc(50% - 10px) calc(50% - 10px);
	}

	&_submit {
		padding: 10px 20px 10px 20px;
		margin: 40px auto;
	}
}

.formItem {
	--labelInTop: calc(20px + 8px);
	--labelInLeft: 16px;
	--labelOutTop: 0;
	--labelOutLeft: 8px;

	width: 100%;

	display: inline-block;
	position: relative;

	&_label {
		position: absolute;
		top: var(--labelInTop);
		left: var(--labelInLeft);
		color: var(--secondText-color);
		padding: 0 5px 0 5px;
		font-size: 16px;
		background-color: var(--compBg-color);
		display: inline-block;
		user-select: none;
	}

	&_input {
		background-color: var(--compBg-color);
		border: 1px solid var(--border-color);
		border-radius: 5px;
		padding: 16px 20px;
		margin: 10px 0;
		font-size: 14px;
		width: calc(100% - 40px);
		caret-color: var(--text-color);
		color: var(--text-color);

		&:hover {
			border: 1px solid var(--disabled-color);
		}

		&:focus {
			border: 1px solid var(--primary-color);
			outline-style: solid;
			outline-color: var(--primary-color);
			outline-width: 1px;
			transition: outline-width 0.1s ease;
		}
	}

	&_file {
		&_label {
			cursor: pointer;
			color: var(--text-color) !important;
			display: flex;
			align-items: center;
			font-size: 16px;
			margin: 16px 16px;
		}

		&_icon {
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}

		&_input {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}
	}

	&_image {
		&_label {
			cursor: pointer;
			color: var(--text-color) !important;
			font-size: 16px;
			margin-bottom: 16px;

			display: flex;
			flex-direction: column;
		}

		&_title {
			display: flex;
			align-items: center;
		}

		&_icon {
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}

		&_thumbnail {
			background-size: cover;
			background-position: center;
			width: 100%;
			padding-top: 56.25%;
		}

		&_input {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}
	}

	textarea {
		resize: vertical;
	}

	&_error {
		color: var(--error-color);
		margin: 10px 0;
		display: flex;

		&_icon {
			font-size: 20px;
			margin-right: 5px;
		}
	}
}

.password {
	position: relative;
	display: flex;
	flex-direction: row;

	&_button {
		position: absolute;
		top: calc(50% - (24px / 2));
		right: 16px;
		background: none;
		border: none;
		cursor: pointer;
		color: var(--text-color);

		&_link {
			border: none;
			background-color: transparent;
			align-self: flex-start;
			text-decoration: none;
			color: var(--link-color);

			&:hover {
				color: var(--linkHover-color);
			}
		}
	}

	&_icon {
		width: 24px;
		height: 24px;
	}
}

@media (max-width: 400px) {
	.form {
		&_row {
			grid-template-columns: 100%;
		}
	}
}

@keyframes labelOut {
	from {
		top: var(--labelInTop);
		left: var(--labelInLeft);
		color: var(--disabled-color);
	}
	to {
		top: var(--labelOutTop);
		left: var(--labelOutLeft);
		color: var(--text-color);
	}
}

@keyframes labelIn {
	from {
		top: var(--labelOutTop);
		left: var(--labelOutLeft);
		color: var(--text-color);
	}
	to {
		top: var(--labelInTop);
		left: var(--labelInLeft);
		color: var(--disabled-color);
	}
}

@font-face {
	font-family: DancingScript;
	src: url("../public/fonts/DancingScript.ttf");
}

@font-face {
	font-family: Chomsky;
	src: url("../public/fonts/Chomsky.otf");
}
